<section>
	<link rel="stylesheet" href="{{ root_url }}/stylesheets/music.css">
	<div class="cube-music cube-sidebar" id="cube-music">
		<div style="margin: 0px;" class="cube-player aplayer" id="cube-player"></div>
	</div>
	<script>

		(function (window) {
			window.musicModule = {}
			window.musicModule.musicConfig = {
				"narrow": false,
				"autoplay": false,
				"showlrc": 3,
				"theme": "#b7daff",
				"mutex": true,
				"mode": "circulation",
				"preload": "auto",
				"listmaxheight": "513px",
				"music": [
					{
						"title": "Dear friends",
						"author": "TRIPLANE",
						"url": "https://cube-1252774894.cosgz.myqcloud.com/music/source/TRIPLANE - Dear friends.mp3",
						"lrc": "https://cube-1252774894.cosgz.myqcloud.com/music/lrc/Dear friends - TRIPLANE.lrc",
						"pic": "https://cube-1252774894.cosgz.myqcloud.com/music/image/TRIPLANE - Dear friends.jpg"
					},
					{
						"title": "Butter-Fly",
						"author": "和田光司",
						"url": "https://cube-1252774894.cosgz.myqcloud.com/music/source/和田光司 - Butter-Fly (ピアノヴァージョン).mp3",
						"lrc": "https://cube-1252774894.cosgz.myqcloud.com/music/lrc/Butter-Fly (ピアノヴァージョン) - 和田光司.lrc",
						"pic": "https://cube-1252774894.cosgz.myqcloud.com/music/image/和田光司 - Butter-Fly (ピアノヴァージョン).jpg"
					},
					{
						"title": "宵闇花火",
						"author": "葉月ゆら",
						"url": "https://cube-1252774894.cosgz.myqcloud.com/music/source/葉月ゆら - 宵闇花火.mp3",
						"lrc": "https://cube-1252774894.cosgz.myqcloud.com/music/lrc/宵闇花火 - 葉月ゆら.lrc",
						"pic": "https://cube-1252774894.cosgz.myqcloud.com/music/image/葉月ゆら - 宵闇花火.jpg"
					}
				]
			}
			window.musicModule.lrcConfig = {
				open: '开启歌词',
				close: '关闭歌词'
			}
		})(window)
	</script>
	<script src='{{ root_url }}/javascripts/libs/Aplayer.js'></script>
	<script src="{{ root_url }}/javascripts/music.js"></script>
</section>