<ul class="main-navigation">
{% if page.title == nil %} <div class="selected"> {% else %} <div> {% endif %}
  <li><a href="{{ root_url }}/">主页 blog</a></li></div><div class="spacer"></div>
    {% if page.title == 'Projects'%} <div class="selected"> {% else %} <div> {% endif %}
  <li><a href="{{ root_url }}/blog/categories">分类 projects</a></li></div><div class="spacer"></div>
      {% if page.title == 'Work'%} <div class="selected"> {% else %} <div> {% endif %}
  <li><a href="{{ root_url }}/blog/archives">归档 archive</a></li></div><div class="spacer"></div>
        {% if page.title == 'About me'%} <div class="selected"> {% else %} <div> {% endif %}
  <li><a href="{{ root_url }}/about">关于 about</a></li></div>
</ul>
  {% comment %}
    <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  {% endcomment %}
